.imgRelleno {
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    margin-top: -50px;
}

.areaFondo {
    width: 200px !important;
    height: 150px !important;
    background-size: 150px 100px;
}