.area_IMG {
    width: 4.cm;
}

.area_titulo {
    width: 13.38cm;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 17.57cm;
}

.centrar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    text-align: center !important;
}

.logo_ITESCA {
    height: 1.22cm;
    width: 3.84cm;
}

.bordes {
    border: 1px solid black;
}

.m-0 {
    margin: 0px;
}

.p-0 {
    padding: 0px;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 2rem;
}

.p-1 {
    padding: .5em;
}

.borde-derecho {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid black;
}

.justificar {
    text-align: justify;
}

.align-right {
    justify-content: right;
}

.text-padding-1-5 {
    line-height: 1.5em;
}

.relleno {
    background-color: rgb(191, 191, 191);
    font-weight: bold;
}

.acuerdo {
    padding: .5em;
    width: 27%;
}

.responsable {
    padding: .5em;
    width: 5.93cm;
}

.fecha {
    padding: .5em;
    width: 18%;
}

.avance {
    padding: .5em;
    width: 10%;
}

.acuerdo_2 {
    padding: .5em;
    width: 40%;
}

.d-flex {
    display: flex;
}

.firmas {
    width: 40%;
    font-weight: bold;
    font-size: 1.2em;
}

.text-center {
    text-align: center;
}

.around {
    justify-content: space-around;
}

.area_firma {
    width: 40%;
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    height: 1.75cm;
}

.w-100 {
    width: 100%;
    font-size: 1.5em;
}

.obs {
    width: 100%;
    font-size: 1em;
}

.border-sup {
    border-top: 1px solid black;
}

.firma-jefe {
    width: 35%;
}