.logo_ITESCA {
    height: 1.22cm;
    width: 3.84cm;
}

.area_IMG {
    height: 1.35cm;
    width: 4.32cm;
}

.borde_tabla {
    border: 1px solid black;
}

.borde_tabla_interno {
    border-right: 1px solid black;
}

.nombre_documento {
    font-weight: bold;
    font-size: x-large;
    font-family: "Arial";
}

.subtitulo {
    font-family: "Arial";
}

.color_campo {
    background-color: rgba(217, 217, 217);
    font-weight: bold;
}