.add {
    width: 2.5rem;
    margin-left: -50px;
    margin-top: 150px;
    cursor: pointer;
}

#perfil {
    width: 250px !important;
    height: 250px !important;
    border-radius: 50%;
}

.col-10 {
    margin-bottom: 1.5rem;
}

.btn-primary-r {
    background-color: green;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 250px;
}